_promo/*.afdesign
*.autosave*
*.png
!_promo/*.png
*.tga
*.blend[0-9]*
*.painter_lock
*_autosave_[0-9].spp
**/.autosave/*
*.assbin
*.sbsar
*.fbx
_*Ref.*
desktop.ini
/PluginFolder/Saved
/PluginFolder/Binaries
/PluginFolder/Intermediate
/PluginFolder/Metadata/Crypto.json
!Cables/Icons/Icon_*.png
